<p id="notice"><%= notice %></p>

  <% @user = User.find(@list.user_id) %>
<p>
  <strong>User:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>List name:</strong>
  <%= @list.list_name %>
</p>

<table>
  <thead>
    <% list_items = ListItem.where(list_id: @list.id)%>
    <% if list_items.size == 0 %>
      <em> List is empty </em>

    <% else %>
      <tr>
        <th>List item name</th>
        <th>Completed</th>
        <th colspan="2"></th>
      </tr>
    <% end %>
    </thead>

  <tbody>
    <% list_items.each do |list_item| %>
      <tr>
        <td><%= list_item.list_item_name %></td>
        <td><%= list_item.completed %></td>
        <td><%= link_to 'Edit', edit_list_item_path(list_item) %></td>
        <td><%= link_to 'Delete', list_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List item', new_list_item_path(@list.id) %> |
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', @user %>
